<!--container wrapper-->


<div class="container-fluid h-100" [ngClass]="{'bg_black':!bgcolor()}">

    <!--SideNav wrapper-->
    <div class="row h-100">
        <div class="col-2 p-0 ">
            <app-nav-aside></app-nav-aside>
        </div>
        <!--SideNav wrapper-->
        <div class="col-10" style="padding: 0;">
            <!-- Top navbar -->
            <navbar></navbar>
            <!--Content wrapper-->
            <div style="padding: 15px; text-align: justify;">
                <router-outlet>
                </router-outlet>




                <!--Content wrapper-->
            </div>
        </div>
    </div>
    <!--container wrapper-->

</div>
<!--container wrapper-->


<!-- 
<ng-template #notlogin>
    notlogin

</ng-template> -->