:root{--color1:#ed6761;
  --colorbg:rgb(255, 229, 229);
  }
  body{
    background: #EEF5F9;
  }
  .bg_black{
    background-color:#212529
  
    /* color: white !important; */
  }
  .bg_white{
    background-color:#f8f9fa ;
  
  }
  
  .bg_black2{
    background-color:#121519;
    color:#f3f3f3
  }
 
  